# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.vscode

# MLflow database and environment
mlflow.db
mlflow-env/

# Directories
data/
models/
results/
mlruns/

# File Extensions
*.csv
*.pickle
*.pyc
*.pth

# Environment Variables
.env

# Installer logs
pip-log.txt